.navigation {
    display: flex;
    justify-content: space-between;
  }
  .link {
    color: rgb(200, 91, 91);
    font-size: 25px;
    margin: 0 15px;
    &:hover,
    &:focus,
    &:active {
      color: #31858d;
    }
  }
  